.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  padding: 0;
}

.gallery__item {
  margin: 10px;
}

.gallery__image {
  max-width: 100%;
  height: auto;
  border-radius: 52%;
}